<div data-container="" class="trillo-container" data-category="container" name="app2" nm="app2" style="padding: 0px 20px; display: flex; flex-direction: column; flex-grow: 1;">
  <div data-component="row" class="trillo-container-row" nm="headerRow" name="headerRow" data-trigger="_initial_">
    <header class="app-header navbar" nm="header" data-reference="header" data-component="view" data-trigger="_initial_" style="z-index: 2000;"></header>
  </div>
  <div data-component="row" class="light-content-area main-row trillo-container-row" nm="mainRow" name="mainRow" data-trigger="_initial_">
    <div data-component="column" class="left-column trillo-container-column" nm="leftColumn" data-trigger="_initial_" name="leftColumn">
      <div class="sidebar" nm="SideBar" data-reference="SideBar" data-component="view" data-trigger="_initial_"></div>
    </div>
    <div data-component="column" class="trillo-container-column" nm="titleAndContentArea" data-trigger="_initial_" name="titleAndContentArea">
      <div data-component="row" class="trillo-container-row" nm="titleBar" name="titleBar" data-trigger="_initial_" style="padding: 5px 20px;"> </div>
      <div data-component="row" class="trillo-container-row" nm="Row_6" name="Row_6" data-trigger="_initial_/SideBar:charts">
        <div nm="Traffic_1" name="Traffic_1" data-reference="Traffic" data-component="view" data-trigger="_initial_/SideBar:charts" class=""></div>
      </div>
      <div data-component="row" class="trillo-container-row" nm="Row_7" name="Row_7" data-trigger="_initial_/SideBar:charts">
        <div nm="Sales_1" name="Sales_1" data-reference="Sales" data-component="view" data-trigger="_initial_/SideBar:charts" class=""></div>
      </div>
      <div data-component="row" class="trillo-container-row" nm="mainContentArea" name="mainContentArea" data-trigger="_initial_">
        <div data-component="column" class="trillo-container-column" nm="column_4" data-trigger="_initial_" name="column_4">
          <div data-component="row" class="trillo-container-row" nm="Row_10" name="Row_10" data-trigger="_initial_/SideBar:sales">
            <div nm="Sales_2" name="Sales_2" data-reference="Sales" data-component="view" data-trigger="_initial_/SideBar:sales" class=""></div>
          </div>
          <div data-component="row" class="trillo-container-row" nm="Row_11" name="Row_11" data-trigger="_initial_/SideBar:sales">
            <div nm="Traffic_2" name="Traffic_2" data-reference="Traffic" data-component="view" data-trigger="_initial_/SideBar:sales" class=""></div>
          </div>
        </div>
        <div data-component="column" class="trillo-container-column" nm="column_3" data-trigger="_initial_" name="column_3">
          <div data-component="row" class="trillo-container-row" nm="Row_8" name="Row_8" data-trigger="_initial_/SideBar:alerts">
            <div nm="AllCards_1" name="AllCards_1" data-reference="AllCards" data-component="view" data-trigger="_initial_/SideBar:alerts" class=""></div>
          </div>
        </div>
        <div data-component="column" class="trillo-container-column" nm="column_1" data-trigger="_initial_" name="column_1">
          <div data-component="row" class="trillo-container-row" nm="Row_1" name="Row_1" data-trigger="_initial_/home_"> </div>
          <div data-component="row" class="trillo-container-row" nm="Row_2" name="Row_2" data-trigger="_initial_/home_">
            <div nm="IncomeCard_1" name="IncomeCard_1" data-reference="IncomeCard" data-component="view" data-trigger="_initial_/home_" class=""></div>
          </div>
          <div data-component="row" class="trillo-container-row" nm="Row_3" name="Row_3" data-trigger="_initial_/home_">
            <div nm="ClientsCard_1" name="ClientsCard_1" data-reference="ClientsCard" data-component="view" data-trigger="_initial_/home_" class=""></div>
            <div nm="DealsCard_1" name="DealsCard_1" data-reference="DealsCard" data-component="view" data-trigger="_initial_/home_" class=""></div>
          </div>
          <div data-component="row" class="trillo-container-row" nm="Row_4" name="Row_4" data-trigger="_initial_/home_">
            <div data-component="column" class="trillo-container-column" nm="column_2" data-trigger="_initial_" name="column_2">
              <div data-component="row" class="trillo-container-row" nm="Row_5" name="Row_5" data-trigger="_initial_/home_">
                <div nm="DonutChartJS_1" name="DonutChartJS_1" data-reference="DonutChartJS" data-component="view" data-trigger="_initial_/home_" class=""></div>
                <div nm="PieChartJS_1" name="PieChartJS_1" data-reference="PieChartJS" data-component="view" data-trigger="_initial_/home_" class=""></div>
              </div>
            </div>
          </div>
          <div data-component="row" class="trillo-container-row" nm="Row_9" name="Row_9" data-trigger="_initial_/home_">
            <div nm="LineChartJS_2" name="LineChartJS_2" data-reference="LineChartJS" data-component="view" data-trigger="_initial_/home_" class=""></div>
          </div>
        </div>
        <div nm="Subscribers_1" name="Subscribers_1" data-reference="Subscribers" data-component="view" class=""></div>
      </div>
      <div class="trillo-form" data-category="Forms" name="f1" nm="f1" data-reference="f1" data-component="view" data-trigger="_initial_" style="width: 450px; padding: 20px; border: 1px solid rgb(238, 238, 238); border-radius: 5px; flex-grow: 1;"></div>
    </div>
    <div data-component="column" class="right-column trillo-container-column" nm="rightColumn" data-trigger="_initial_" name="rightColumn">
      <aside class="aside-menu" nm="AsideBar" data-reference="AsideBar" data-component="view" data-trigger="_initial_"></aside>
    </div>
  </div>
</div>
