<div class="trillo-form" data-category="Forms" name="f1" nm="f1" style="width: 450px; padding: 20px; border: 1px solid rgb(238, 238, 238); border-radius: 5px;">
  <form data-container="" class="has-validation-callback">
    <div data-component="text" class="form-group" nm="Text_1">
      <label data-label="" for="Text_1">Text_1</label>
      <input data-field="" type="text" class="form-control" nm="Text_1" style="">
    </div>
    <div data-component="text" class="form-group" nm="Text_2">
      <label data-label="" for="Text_2">Text_2</label>
      <input data-field="" type="text" class="form-control" nm="Text_2" style="">
    </div>
    <div data-component="row12Col" data-row="" class="form-row" nm="row12Col_1">
      <div data-column="" class="col-md-12" data-sub-component="colOfR12C"> </div>
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
